@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

/* Separators for Navigation from https://stackoverflow.com/questions/5688791/separators-for-navigation */
nav li+li:before {
  content: " | ";
  font-family: 'Roboto Mono', monospace;
  padding: 0 5px 0 10px;
}