@tailwind base;
@tailwind components;
@tailwind utilities;

/* Separators for Navigation from https://stackoverflow.com/questions/5688791/separators-for-navigation */
nav li+li:before {
  content: " | ";
  font-family: 'Roboto Mono', monospace;
  padding: 0 5px 0 10px;
}

.card :where(figure:first-child) {
  overflow: hidden;
  border-start-start-radius: inherit;
  border-start-end-radius: inherit;
  border-end-start-radius: unset;
  border-end-end-radius: unset
}

.card :where(figure:last-child) {
  overflow: hidden;
  border-start-start-radius: unset;
  border-start-end-radius: unset;
  border-end-start-radius: inherit;
  border-end-end-radius: inherit
}

.card:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px
}

.card.bordered {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: hsl(var(--b2)/var(--tw-border-opacity))
}

.card.compact .card-body {
  padding: 1rem;
  font-size: .875rem;
  line-height: 1.25rem
}

.card-title {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 2.00rem;
  line-height: 1.75rem;
  font-weight: 600
}

.card.image-full :where(figure) {
  overflow: hidden;
  border-radius: inherit
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--rounded-box, 1rem)
}

.card:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.card-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: var(--padding-card, 2rem);
  gap: .5rem
}

.card-body :where(p) {
  flex-grow: 1
}

.card-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: .5rem
}

.card figure {
  display: flex;
  align-items: center;
  justify-content: center
}

.card.image-full {
  display: grid
}

.card.image-full:before {
  position: relative;
  content: "";
  z-index: 10;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--n)/var(--tw-bg-opacity));
  opacity: .75;
  border-radius: var(--rounded-box, 1rem)
}

.card.image-full:before,
.card.image-full>* {
  grid-column-start: 1;
  grid-row-start: 1
}

.card.image-full>figure img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.card.image-full>.card-body {
  position: relative;
  z-index: 20;
  --tw-text-opacity: 1;
  color: hsl(var(--nc)/var(--tw-text-opacity))
}

@media (min-width:768px) {
  .md\:card-side {
    align-items: stretch;
    flex-direction: row;
  }

  .md\:card-side :where(figure:first-child) {
    overflow: hidden;
    border-start-start-radius: inherit;
    border-start-end-radius: unset;
    border-end-start-radius: inherit;
    border-end-end-radius: unset
  }

  .md\:card-side :where(figure:last-child) {
    overflow: hidden;
    border-start-start-radius: unset;
    border-start-end-radius: inherit;
    border-end-start-radius: unset;
    border-end-end-radius: inherit
  }

  .md\:card-side figure>* {
    max-width: unset
  }

  :where(.md\:card-side figure>*) {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
  }
}